:root {
  --primaryBlue: #142187;
  --secondaryBlue: #4E5EDD;
  --brown: #805525;
  --black: #201F1F;
  --white: #F6F6F6;
  --green: #177D2E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: var(--black);
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.center {
  align-self: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
}

.customNav {
  background-color: var(--primaryBlue);
  height: 80px;
}

.customSideNav {
  background-color: var(--secondaryBlue);
}

.customNavLink {
  background-color: var(--brown);
  border-top: solid 2px var(--white);
  border-bottom: solid 2px var(--white);
  margin-top: 2px;
  margin-bottom: 2px;
}

.customNavLinkText {
  font-size: 20px;
  font-family: 'Khand', sans-serif;
}

.customHeaderTitle {
  font-family: 'Courgette', cursive;
  font-size: 50px;
}

.customMenuIcon {
  font-size: 30px;
}

.footerNames {
  font-size: 20px !important;
}

.footerUl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  width: 150px;
  margin-left: 0;
  padding-left: 0;
}

.whiteFont {
  color: white;
  text-decoration: none;
}

.container {
  margin-top: 96px
}

.page-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.trail-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.trail-item {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 30px;
  text-align: center;
  padding: 20px;
}

.trail-item button {
  width: 33%;
  margin: 0 auto;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
}

trail-item-head{
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
}

.trail-page {
  text-align: center;
}

.trail-form {
  text-align: center;
}

.trail-text {
  margin: 0 auto;
  width: 50%;
}

.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  /* display: flex; */
  width: 300px;
  height: 300px;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  text-align: center;
}

.login-card .btn {
  width: 33%;
  margin: 5 auto;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
}

.login-card .btn:hover {
  background-color: var(--white-alpha-40);
}

.trip-page {
  text-align: center;
}

.trip-item {
  width: 50%;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  display: inline-block;
}

.trip-item button {
  width: 33%;
  margin: 0 auto;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
}

.trip-share {
  width: 30%;
  margin: 0 auto;
}

.search {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.search-text {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

/* .api-img {
  width: 50%;
  margin: 20px auto;
  text-align: center;
} */

.api-img {
  max-width: 200px;
  max-height: 200px;
}

.form-comment {
  color: black;
}

.comment-text {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.comment-btn {
  width: 33%;
  margin: 0 auto;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
}

/* .page-container {
  height: 100vh;
} */

.navbar {
  background-color: #201F1F;
}