:root {
  --primaryBlue: #142187;
  --secondaryBlue: #4E5EDD;
  --brown: #805525;
  --black: #201F1F;
  --white: #F6F6F6;
  --green: #177D2E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: var(--black);
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.center {
  align-self: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
}

.customNav {
  background-color: var(--black);
  height: 80px;
}

.customSideNav {
  background-color: var(--black);
}

.customNavLink {
  background-color: var(--black);
  border-top: solid 2px var(--white);

}
.customNavLinkBottom {
  background-color: var(--black);
  border-top: solid 2px var(--white);
  border-bottom: solid 2px var(--white);

}

.customNavLinkText {
  font-size: 20px;
  font-family: 'Khand', sans-serif;
}

.customHeaderTitle {
  font-family: 'Courgette', cursive;
  font-size: 50px;
}

.customMenuIcon {
  font-size: 30px;
}

.footerNames {
  font-size: 20px !important;
}

.footerUl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  width: 150px;
  margin-left: 0;
  padding-left: 0;
}

.whiteFont {
  color: white;
  text-decoration: none;
}
