:root {
  --primaryBlue: #142187;
  --secondaryBlue: #4E5EDD;
  --brown: #805525;
  --black: #201F1F;
  --white: #F6F6F6;
  --green: #177D2E;
}

h3 {
  font-size: 48px;
  color: var(--white);
}

h4 {
  font-size: 36px;
  color: var(--white);
}

main {
  background-color: var(--brown);
}

.buttonDiv {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.home {
    /* width: 100%; */
    height: calc(70vh - 100px);
    background-image: url(./1920x1080-5-e1609206442272.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 35px;
    margin-left: 150px;
  margin-right: 150px;
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  }

  .homeButtons {
    background-color: var(--secondaryBlue);
    color: var(--white);
    margin: 10px;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 28px;
    font-family: 'Khand', sans-serif;
  }

  .homeButtons:hover {
    border: 2px solid var(--white);
    text-shadow: var(--black) 2px 1px;
  }

  .homeNav {
    margin-top: 95px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .homeSection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .home h1 {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 100px;
  }

  .home button{
      width:50%;
      color: gray;
      align-items: center;
  }

  .profile-details{
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    color:black;
  }
